.container-icon-menu{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 60px;
  right: 60px;
  &.is-menu-open {
    z-index: -1000;  
  }
  &.is-menu-close {
    z-index: 1000; 
    transition: z-index 0s ease 600ms;
  }
}

.box-icon-menu {
  cursor: pointer;
}