@import '../../scss/variables.scss';
.container-fluid {
  // background-color: $marine_dark;

}

#root {
  overflow: hidden;
}

.test {
  position: absolute;
  top: 100px;
  z-index: 100;
  left: 50%;
}

// .container {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   overflow-y: scroll;
//   text-align: justify;
//   color: white;
//   font-size: 20em;
//   line-height: 0.9em;
//   font-weight: 800;
//   background: black;
// }
.secction {
  display: block;
  position: relative;
  width: 100%;
  height: 100vh;

}
.container {
  &:before,
  &:after{
    content:'';
    position:absolute;
    width:100%;
    height:50%;
  }
  &:before {
    background: $marine_light;
    border-radius: 50%;
    box-shadow: 0 0 500px 500px $marine_light;
    z-index: -1;
    top: -50%;
    left: -50%;
    opacity: 0.8;
  }
} 
.box-whale{
  position: relative;
  display: block;
}
.main-title {
  position: absolute;
  width: auto;
  left: calc(17% - 60px);
  top:  52%;
  z-index: 20;
  margin: 0;
  &.first {
    top:  42%;
    left: calc(17% + 55px);
  }
}

.box-about {
  display: flex;
  position: relative;
  width: 1440px;
  margin: 0 auto;
}