@import './variables.scss';

:export {
  primary: $primary;
  error: $error;
}

.root {
  color: $primary
}


.contianer-spinner {
  height: calc(100vh/1.5);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
